// @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

// $primary-orange: #FF5851;
$teal: #41b3a3;
$blue: #153b56;
$lightBlue: rgb(28, 80, 118);
$lighterBlue: rgb(37, 105, 154);
$lightGrey: rgb(249, 249, 249);
$pink: #e22866;
$darkBlue: #1b242f;
// $titleFont: 'Montserrat';
// $font: 'Raleway';
$fontColor: #616161;
$titleColor: #505050;

// @mixin triangle-header($background) {
//   position: relative;
//   &:before,
//   &:after {
//     background: $background;
//     position: absolute;
//     content: '';
//     top: -50px;
//     width: 50%;
//     height: 20%;
//     z-index: 1;
//   }

//   &:before {
//     left: 0;
//     transform: skewY(6deg);
//   }

//   &:after {
//     right: 0;
//     transform: skewY(-6deg);
//   }
// }

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
