$font-primary: 'Cuprum', 'sans-serif';
$font-primary1: 'Lato', 'sans-serif';

$color-grey: #191919;
$color-grey-light: #262626;
$color-maroon: #590212;
$color-maroon-light: #720317;
$color-black: #000000;
$color-black-blue: #0f0f1d;
$color-grey-light: rgba(198, 201, 216, 0.75);
$color-pink: #f6004c;
$color-purple: #7503a6;

$breakpoint-med: '1300px';
$breakpoint-med-low: '950px';
$breakpoint-low: '725px';
$breakpoint-low-low: '550px';
