@import '../abstracts/variables';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
// @import '../main.scss';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolioSection {
  // background: #f2f2f2;
  // padding-bottom: 200px;
  padding-bottom: 10%;
  // @include triangle-header(#f2f2f2);
  // background-color: green;
  font-family: $font-primary1, sans-serif;
  font-size: 2rem;
  font-style: normal;
}

.content {
  position: relative;
  padding: 0px 80px;
  z-index: 2;
  h2 {
    padding: 0px 5px;
  }
}

.title {
  padding: 80px 0px 60px 0px;
  @include flex-center;
}

.projectsWrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.mobileInfo {
  position: absolute;
  font-size: 20px;
  top: 16%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

@media (max-width: 1001px) {
  .content {
    padding: 0px 60px;
  }
}

@media (max-width: 630px) {
  .content {
    padding: 0px 40px 0px 40px;
  }
}

@media (max-width: 400px) {
  .mobileInfo {
    display: block;
  }

  .title {
    padding: 60px 0px 60px 0px;
  }

  .portfolioSection {
    padding-bottom: 100px;
  }
}
